<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"

	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- 01. 빈 설정: 초간단 -->
	<bean class="com.poscodx.container.videosystem.Avengers" />

	<!-- 02. 빈 설정: id 부여하기 -->
	<bean id="ironMan"
		class="com.poscodx.container.videosystem.IronMan" />

	<!-- 03. 빈 설정: 생성자 리터럴 사용1 -->
	<bean id="avengersInfiniteWar"
		class="com.poscodx.container.videosystem.BlankDisc">
		<constructor-arg name="studio" value="MARVEL" />
		<constructor-arg name="title"
			value="Avengers Infinite War" />
	</bean>

	<!-- 04. 빈 설정: 생성자 리터럴 사용2 -->
	<bean id="avengersEndgame"
		class="com.poscodx.container.videosystem.BlankDisc"
		c:title="Avengers Endgame" c:studio="MARVEL" />

	<!-- 05. 빈 설정: 생성자 리터럴 사용3 -->
	<bean id="avengersAgeOfUltron"
		class="com.poscodx.container.videosystem.BlankDisc" c:_1="MARVEL"
		c:_0="Avengers Age Of Ultron" />

	<!-- 06. 빈 설정: 생성자 null argument -->
	<bean id="avengersCaptainAmerica"
		class="com.poscodx.container.videosystem.BlankDisc">
		<constructor-arg name="studio" value="MARVEL" />
		<constructor-arg name="title"
			value="Avengesr Captain America" />
		<constructor-arg>
			<null />
		</constructor-arg>
	</bean>

	<!-- 07. 빈 설정: 생성자 Collection Argument -->
	<bean id="avengersDirectorEdition"
		class="com.poscodx.container.videosystem.BlankDisc">
		<constructor-arg name="studio" value="MARVEL" />
		<constructor-arg name="title"
			value="Avengers Director Edition" />
		<constructor-arg name="actors">
			<list>
				<value>Robert Downey Jr.</value>
				<value>Christ Evans</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- 08. 빈 설정: 생성자 Wiring Collection -->
	<bean id="avengersTriplePack"
		class="com.poscodx.container.videosystem.DVDPack"
		c:title="Avengers Triple Pack">
		<constructor-arg name="dvds">
			<list>
				<ref bean="avengersInfiniteWar" />
				<ref bean="avengersEndgame" />
				<ref bean="avengersAgeOfUltron" />
			</list>
		</constructor-arg>
	</bean>

	<!-- 09. 빈 설정: 프로퍼티 사용1 -->
	<bean id="avengersExpansionEdition1"
		class="com.poscodx.container.videosystem.BlankDisc">
		<property name="studio" value="MARVEL" />
		<property name="title" value="Avengers Expansion Edition1" />
	</bean>

	<!-- 10. 빈 설정: 프로퍼티 사용2 -->
	<bean id="avengersExpansionEdition2"
		class="com.poscodx.container.videosystem.BlankDisc"
		p:title="Avengers Expansion Edition2" p:studio="MARVEL">
		<property name="actors">
			<list>
				<value>Robert Downey Jr.</value>
				<value>Christ Evans</value>
			</list>
		</property>
	</bean>

	<!-- 11. 빈 설정: 프로퍼티 사용3 -->
	<util:list id="actorList">
		<value>Robert Downey Jr.</value>
		<value>Christ Evans</value>
	</util:list>
	<bean id="avengersExpansionEdition3"
		class="com.poscodx.container.videosystem.BlankDisc"
		p:title="Avengers Expansion Edition3" p:studio="MARVEL"
		p:actors-ref="actorList">
	</bean>

	<!-- 12. 빈 주입: 생성자 주입1 -->
	<bean id="dvdPlayer1"
		class="com.poscodx.container.videosystem.DVDPlayer">
		<constructor-arg ref="ironMan" />
	</bean>

	<!-- 13. 빈 주입: 생성자 주입2: c-namespace의 argument name을 사용하는 방법 -->
	<bean id="dvdPlayer2"
		class="com.poscodx.container.videosystem.DVDPlayer"
		c:dvd-ref="ironMan" />

	<!-- 14. 빈 주입: 생성자 주입3: c-namespace의 argument index을 사용하는 방법 -->
	<bean id="dvdPlayer3"
		class="com.poscodx.container.videosystem.DVDPlayer" c:_0-ref="ironMan" />

	<!-- 15. 빈 주입: 프로퍼티 주입1 -->
	<bean id="dvdPlayer4"
		class="com.poscodx.container.videosystem.DVDPlayer">
		<property name="dvd" ref="ironMan" />
	</bean>

	<!-- 16. 빈 주입: 프로퍼티 주입2: p-namespace -->
	<bean id="dvdPlayer5"
		class="com.poscodx.container.videosystem.DVDPlayer"
		p:dvd-ref="ironMan" />
</beans>